node-red/flows.json
[
    {
        "id": "t_main",
        "type": "tab",
        "label": "IoT Secure Station",
        "disabled": false,
        "info": "Supervision : ingest MQTT, validation JSON, stockage InfluxDB, dashboard (jauges + historique)"
    },
    {
        "id": "b1",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "node-red-server",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "i1",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "iot",
        "name": "InfluxDB",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": false
    },
    {
        "id": "uitab",
        "type": "ui_tab",
        "name": "Supervision",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "uigrp1",
        "type": "ui_group",
        "name": "Mesures en direct",
        "tab": "uitab",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "uigrp_hist",
        "type": "ui_group",
        "name": "Historique",
        "tab": "uitab",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "n_mqttin",
        "type": "mqtt in",
        "z": "t_main",
        "name": "campus/+/+/data",
        "topic": "campus/+/+/data",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "b1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 120,
        "wires": [
            [
                "n_valid"
            ]
        ]
    },
    {
        "id": "n_valid",
        "type": "function",
        "z": "t_main",
        "name": "Valider & router",
        "func": "let data;\ntry {\n    data = (typeof msg.payload === 'string') ? JSON.parse(msg.payload) : msg.payload;\n} catch (e) {\n    msg.error = 'JSON illisible';\n    return [null, msg];\n}\n\n// Schéma imposé : { device, ts, data:{...} }\nif (typeof data !== 'object' || data === null ||\n    typeof data.device !== 'string' ||\n    typeof data.ts !== 'number' ||\n    typeof data.data !== 'object' || data.data === null) {\n    msg.error = 'Schéma invalide';\n    msg.payload = data;\n    return [null, msg];\n}\n\n// Champs numériques uniquement\nconst fields = {};\nfor (const k in data.data) {\n    if (typeof data.data[k] === 'number' && isFinite(data.data[k])) {\n        fields[k] = data.data[k];\n    }\n}\nif (Object.keys(fields).length === 0) {\n    msg.error = 'Aucune mesure numérique';\n    return [null, msg];\n}\n\n// Timestamp d'origine -> rejeu offline correct.\n// On distingue une vraie date epoch d'un compteur millis() (boot ESP32 sans NTP).\nlet tsMs;\nif (data.ts >= 1e12) {\n    tsMs = data.ts;            // millisecondes epoch\n} else if (data.ts >= 1e9) {\n    tsMs = data.ts * 1000;     // secondes epoch -> ms\n} else {\n    tsMs = Date.now();         // ts non horodate (millis/boot) -> heure serveur\n}\n\nmsg.device = data.device;\nmsg.parsed = data;\nmsg.payload = [{\n    measurement: 'sensors',\n    fields: fields,\n    tags: { device: data.device },\n    timestamp: new Date(tsMs)\n}];\nreturn [msg, null];\n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 120,
        "wires": [
            [
                "n_influx",
                "n_uitemp",
                "n_uihum",
                "n_uitext"
            ],
            [
                "n_alert",
                "n_dbg"
            ]
        ]
    },
    {
        "id": "n_influx",
        "type": "influxdb batch",
        "z": "t_main",
        "influxdb": "i1",
        "precision": "ms",
        "retentionPolicy": "",
        "name": "InfluxDB iot",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 600,
        "y": 80,
        "wires": []
    },
    {
        "id": "n_uitemp",
        "type": "function",
        "z": "t_main",
        "name": "temp",
        "func": "if (!msg.parsed || typeof msg.parsed.data.temp !== 'number') return null;\nmsg.payload = msg.parsed.data.temp;\nmsg.topic = 'Température';\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 160,
        "wires": [
            [
                "n_gtemp",
                "n_chart_temp"
            ]
        ]
    },
    {
        "id": "n_uihum",
        "type": "function",
        "z": "t_main",
        "name": "humidity",
        "func": "if (!msg.parsed || typeof msg.parsed.data.humidity !== 'number') return null;\nmsg.payload = msg.parsed.data.humidity;\nmsg.topic = 'Humidité';\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 240,
        "wires": [
            [
                "n_ghum",
                "n_chart_hum"
            ]
        ]
    },
    {
        "id": "n_uitext",
        "type": "function",
        "z": "t_main",
        "name": "état",
        "func": "msg.payload = msg.device + ' — ' + new Date().toLocaleTimeString('fr-FR');\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 320,
        "wires": [
            [
                "n_txt"
            ]
        ]
    },
    {
        "id": "n_gtemp",
        "type": "ui_gauge",
        "z": "t_main",
        "name": "Température",
        "group": "uigrp1",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Température",
        "label": "°C",
        "format": "{{value}}",
        "min": "0",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 820,
        "y": 160,
        "wires": []
    },
    {
        "id": "n_ghum",
        "type": "ui_gauge",
        "z": "t_main",
        "name": "Humidité",
        "group": "uigrp1",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Humidité",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#ca3838",
            "#00b500",
            "#0080ff"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 820,
        "y": 240,
        "wires": []
    },
    {
        "id": "n_txt",
        "type": "ui_text",
        "z": "t_main",
        "group": "uigrp1",
        "order": 3,
        "width": "6",
        "height": "1",
        "name": "Dernière mesure",
        "label": "Dernière mesure",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 840,
        "y": 320,
        "wires": []
    },
    {
        "id": "n_chart_temp",
        "type": "ui_chart",
        "z": "t_main",
        "name": "Historique température",
        "group": "uigrp_hist",
        "order": 1,
        "width": "12",
        "height": "5",
        "label": "Température (°C)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "En attente de données…",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ca3838",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 840,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "n_chart_hum",
        "type": "ui_chart",
        "z": "t_main",
        "name": "Historique humidité",
        "group": "uigrp_hist",
        "order": 2,
        "width": "12",
        "height": "5",
        "label": "Humidité (%)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "En attente de données…",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0080ff",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 840,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "n_alert",
        "type": "function",
        "z": "t_main",
        "name": "Alerte JSON invalide",
        "func": "node.warn('Message rejeté: ' + msg.error);\nconst parts = (msg.topic || '').split('/');\nconst grp = parts[1] || 'g1';\nconst dev = parts[2] || 'unknown';\nmsg.topic = 'campus/' + grp + '/' + dev + '/alerts';\nmsg.qos = 1;\nmsg.payload = JSON.stringify({ error: msg.error, ts: Date.now() });\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 320,
        "wires": [
            [
                "n_mqttalert"
            ]
        ]
    },
    {
        "id": "n_mqttalert",
        "type": "mqtt out",
        "z": "t_main",
        "name": "alerts",
        "topic": "",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b1",
        "x": 590,
        "y": 360,
        "wires": []
    },
    {
        "id": "n_dbg",
        "type": "debug",
        "z": "t_main",
        "name": "rejets",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 420,
        "wires": []
    }
]
